

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#resultadoConversão{
  display: flex;
  justify-content: center;
  gap: 40px;
  font-style: normal;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;

}
.res{
display: flex;
justify-content: center;
align-items: center;
}


h1{
  text-align: center;
  font-weight: bold;
}

.resultado{
  text-align: center;
  margin-top: 10px;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.button{
  margin-top: 10px;
}

