<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>App de Notas</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Primeira Nota" color="danger" labelPlacement="floating" type="number" placeholder="Inserir Nota"  [(ngModel)]="notaUm"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Segunda Nota" color="primary" labelPlacement="floating" type="number" placeholder="Inserir Nota" [(ngModel)]="notaDois"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Terceira Nota" color="tertiary" labelPlacement="floating" type="number" placeholder="Inserir Nota" [(ngModel)]="notaTres"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Quarta Nota" color="warning" labelPlacement="floating" type="number" placeholder="Inserir Nota" [(ngModel)]="notaQuatro"></ion-input>
  </ion-item>

  <div class="container">
  <ion-button class="button" (click)="calcularMedia()" >Verificação de Notas</ion-button>
</div>

  <div class="resultado" ion-label>Resultado: {{resultado}}</div>

</ion-content>
